html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas[resize]{
    height: 100%;
    width: 100%;
    border: 10px solid rebeccapurple;
    box-sizing: border-box;
    display: block;
}